body {
    background-color: whitesmoke;
  }
  
  h1 {
    color: rgb(128, 126, 46);
    margin-left: 21px;
  }

  h2 {
    color: forestgreen;
    margin-left: 21px;
  }
  p {
      color: #8ea082;
      margin-left: 21px;
  }
  img {
    width: 1000px;
    height: 800px;
    object-fit: scale-down;
  }

  a {
    margin-left: 21px;
    color: turquoise;
  }

  b {
    margin-left: 21px;
    color: violet;
  }