body{
  background-image: url("resources/index/colors_5_5.gif");
  
  object-fit: cover;
  padding:0;
  margin:0;
}
 

div.group1 {
margin-top: 160px;

}
div.places {
  margin-top: -14px;
  margin-left: 84px;

  p {
      color: #8ea082;
      margin-left: 84px;
      margin-top: 0px;
  }
div.column1 {
    max-width: 1000px;
    margin-top: 50px;
    object-fit: cover;
    padding:200;
    margin:200;
  }

  a {
    
    
    color: rgb(48, 54, 13);
    font-size: 30pt;
   
  }

  b {
    margin-left: 21px;
    color: violet;
  }

  a.home {
    color:black;

  }



a.red {
    color:#898f65;
    font-family: monospace;
}
a.green {
    color:#898f65;
    font-family: monospace;
}
a.blue {
    color:#898f65;
    font-family: monospace;
}
 div.pages {
  font-size: 30pt;
  color:#898f65;
  font-family: monospace;
  margin-left: 84px;
  margin-top: -3px;
}
